.body {
    font-family: 'Cascadia Code', sans-serif;                                        
}
.p {
    font-family: 'Cascadia Code', sans-serif;
    color: red;                                     
}
