:root {
--font-family-sans-serif: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
--font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    cursor: none;
    overflow: hidden;

    touch-action: none; /* Disable touch gestures */
    transform-origin: 0 0;
    transform: scale(1.0);
    width: 100%;
    height: 100%;
}
h1 {
    color:black;
}

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Cascadia Code', sans-serif;     
    margin: 0;
    border: 0;   
    text-align: center;                         
}


a {
    color: black;
    text-decoration: none;
}

/* a:hover {
    text-decoration: underline;
} */

.container {
    position: relative;
}

.element {
    color:brown;
}

.tooltip {
    visibility: hidden;
    position: absolute;
}

.element:hover {
    color:black;
}

.button {
    transition: background-color 0.3s ease-in-out;
    border: 1px solid #333;
    cursor: none;
}

.button:hover {
    background-color: rgba(128, 128, 128, 0.169);
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
}

.flex-item {
    flex: 1;
    margin: 10px;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}

.divText {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 7px solid black;
}

.innerDivText {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: transparent;
    flex-direction: column;
    
    
}

.innerDivText > p {
    margin: 0px;

    box-sizing: border-box;
    border: 1px solid black;
    background-color: white;
    width: 50%;
}


@media (max-width: 500px) {
    .flex-item {
        flex: 100%;
    }
}

.fade-in-out {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.fade-in {
    opacity: 1;
}



/*position relative as a base for non-static elements*/
#outerDiv{
    position:relative;
}

/*every direct child positioned absolute*/
#outerDiv > div {
    position:absolute;
}

